{% extends 'base.html'%}

{% block content %}
<div class="container">
    <h1 class="text-center">Gram</h1>
{{block.super}}
<div class="card-columns">
    <div class="row">
        {% for post in posts %}
        <img src="{{post.user.profile.url}}" alt="{{post.user.user.username}}" width="25px" height="20px">
        <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bolder;">{{post.user.user.username}}</p>
    <div class="col-md-6">
        <img src="{{post.image.url}}" alt="{{post.name}}">
    </div>
    </div>
</div>
</div>
{%endfor%}
{%endblock%}

